/* You can add global styles to this file, and also import other style files */
// Theme variables based on gryphen-ai-logo.jpg
:root {
	--primary-bg: #5b737c;
	--primary-accent: #1C2D4A;
	--secondary-bg: #A0A0A0;
	--text-main: #080b34;
	--text-secondary: #d6d6d8;
	--accent: #01bdf5;
}
